html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p, span {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 28px;
}

h2 {
    color: #333333;
    font-size: 22px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
}

.white-text {
    color: #ffffff;
}

.white-border {
    border: solid 1px #fff;
}

.black-border {
    border: solid 1px #333;
}

button {
    background-color: #7ab829;
    cursor: pointer;
    color: #fff;
    transition: 0.4s;
}

button:hover {
    background-color: #6ea22c;
    transition: 0.4s;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333333;
}

::-ms-input-placeholder {
    color: #333333;
}

.placeholder-center {
    text-align: center;
}

header {
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    padding: 20px 0px 10px 0px;
}

.logo {
    width: 50px;
    float: left;
    margin-left: 40px;
}

.navmenu {
    float: right;
    margin-right: 40px;
}

.navmenu li {
    display: inline;
    float: left;
}

.navmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navmenu a {
    text-decoration: none;
    padding: 14px 16px;
    color: #333;
    transition: 0.5s;
}

.navmenu a:hover {
    color: #fff;
    background-color: #268fd0;
    transition: 0.5s;
}

.menu {
    float: right;
    margin-top: 20px;
    margin-right: 35px;
}

.menu li {
    display: inline;
    float: left;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu a {
    text-decoration: underline;
    padding: 14px 16px;
    color: #333;
}

.menu a:hover {
    color: #268fd0;
}

.featured-content {
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    background-color: #268fd0;
    width: 60%;
    height: 100%;
}

.right {
    float: right;
    background-color: #2a9ee2;
    width: 40%;
    height: 100%;
}

.information, .contact {
    margin: 100px 40px 40px 40px;
}

.main-contact {
    margin: 0px 60px 60px 40px;
}

.call {
    margin-top: 30px;
    margin-left: 20px;
}

.video {
    margin: 40px;
}

.video img {
    max-width: 100%;
    max-height: 100%;
}

.page-content {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.page-title {
    padding: 60px 0px 1px 0px;
    background-color: #2a9ee2;
    justify-content: center;
    align-items: center;
}

.page-info {
    text-align: center;
    margin-top: 30px;
}

.page-info p {
    color: #333;
}

.about-info {
    text-align: justify;
    margin: 0 20%;
    width: 60%;
}

.form-area {
    text-align: center;
    margin: 0 30%;
    width: 40%;
}

.form-text-area {
    width: 100%;
    height: 150px;
}

.form-login {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 0 15px;
    margin-top: 50px;
    border: none;
}

.form-search {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.social-network, .area-contact, .location {
    width: 33.333%;
    border-top: solid 1px #ccc;
    float: left;
    text-align: center;
    background-color: #f8f8f8;
    height: 250px;
}

.social-network, .area-contact, .location p, span {
    color: #333333;
}

.social-network img {
    margin: 0px 15px 0px 15px;
}

.alert.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.alert.alert-denied {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

.list {
    width: 70%;
}

table {
    margin: auto;
    margin-top: 70px;
    width: 80%;
    border-collapse: collapse;
    border: none;
}

table a {
    color: #000080;
    /* cor azul escuro */
    text-decoration: none;
    /* sem sublinhado */
}

table a:hover {
    text-decoration: none;
    /* sem sublinhado no hover */
}

table a:visited {
    color: #010107;
    /* manter a cor azul escuro para links visitados */
}

th {
    background-color: #2C3E50;
    color: #FFF;
}

tr:nth-child(even) {
    background-color: #E0E0E0;
}

tr:nth-child(odd) {
    background-color: #BDBDBD;
}

td {
    padding: 10px;
}

.alert {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}

ul.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    margin-top: 20px;
    border-radius: 4px;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a,
ul.pagination li span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

ul.pagination li:first-child a,
ul.pagination li:first-child span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

ul.pagination li:last-child a,
ul.pagination li:last-child span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

ul.pagination li.active span {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

ul.pagination li.disabled span,
ul.pagination li.disabled a,
ul.pagination li.disabled span:hover,
ul.pagination li.disabled a:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

